*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto' , sans-serif;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
/* *****Top Header***** */
.top-header{
    background-color: #fef7f6;
    height: 5rem;
    .top-head-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .phone,.email{
            text-transform: uppercase;
            padding-right: 2rem;
            font-size: 1.2rem;
            font-weight: 300;
        }
        .site-settings{
            text-transform: uppercase;
            .gift,.track,.lang{
                color: black;
                font-size: 1.2rem;
                font-weight: 300;
                padding-right: 2rem;
            }
            :nth-child(3){
                padding-right: 0rem;
            }
        }
    }
}

/* *****Main Header***** */
.main-header{
    height: 9rem;
    .main-head-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .nav-area{
            display: flex;
            li{
                a{
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: black;
                    text-transform: uppercase;
                    padding: 0 1rem;
                    transition: .3s;
                    &:hover{
                        color: #ff5353;
                    }
                }
            }
        }
        .icons-area{
            .search,.cart,.heart{
                i{
                    color: black;
                    padding: 0 1rem;
                    transition: .3s;
                    &:hover{
                        color: #ff5353;
                    }
                }
            }
        }
    }
}
/* *****Banner Area***** */
.banner-area{
    background: url('../img/banner-bg-1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    .banner-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .tagline{
            color: #565656;
            text-transform: uppercase;
            letter-spacing: .28rem;
        }
        .shop-btn{
            font-size: 1.4rem;
            font-weight: 600;
            background-color: #FF5353;
            color: #fff;
            border: none;
            padding: 2rem 5rem;
            border-radius: .5rem;
            text-transform: uppercase;
            margin-top: 2.5rem;
            transition: .3s;
            &:hover{
                color: #0056b3;
                background-color: #fff;
            }
        }
    }
}